@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./colors.css");
@import url("./animations.css");
::-moz-selection {
  color: var(--tic);
  background: var(--tac);
}
/* Code for Firefox */
::selection {
  color: var(--tic);
  background: var(--tac);
}

* {
  padding: 0rem;
  margin: 0rem;
  color: var(--black);
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--main);
  max-width: 100vw;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
}

/* choose css */
.choose {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.choose h2 {
  font-size: 3.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: capitalize;
}

.choices-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../assets/bg/choices.png");
  width: 68.75rem;
  height: 32.25rem;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25),
    inset 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}

/* Select palyers css */
.choose-player {
  display: flex;
}
.player {
  height: 31.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.player h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}
.player-1 img {
  height: 14.375rem;
  width: 14.375rem;
}
.player-2 img {
  height: 11.25rem;
  width: 11.25rem;
}

.player:hover {
  transform: translate3d(0rem, -0.625rem, 0rem);
}

/* choose tic-tac css */
.choose-tictac {
  display: none;
}
.choice {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.choice:hover {
  transform: translate3d(0rem, -0.625rem, 0rem);
}
/* game csss */
.game {
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 95vh;
  gap: 2em;
}

/* scoreboard css */
.scoreboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.188rem solid var(--white);
  width: 47.063rem;
  height: 8.75rem;
  margin-top: 3em;
}
.scoreboard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.875rem;
  text-transform: uppercase;
}
.wins:hover h2,
.losts:hover h2 {
  display: none;
}
.wins:hover::before,
.losts:hover::before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.375rem;
  width: 7.066rem;
}
.wins:hover::before {
  content: "X Wins";
}
.losts:hover::before {
  content: "O Wins";
  width: 8.219rem;
}
.scoreboard > div span {
  font-size: 4.688rem;
}

/* gameboard css */
.board {
  background: url("../assets/bg/borad.png");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25),
    inset 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.103);
  border-radius: 0.625rem;
  width: 28.125rem;
  height: 28.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: grab;
}
.box {
  position: relative;
  overflow: hidden;
  width: 9.375rem;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-img {
  width: 5.625rem;
  height: 5.625rem;
}

/* won css */
.won {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40.75rem;
  height: 32.25rem;
  background: rgba(0, 225, 212, 0.5);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25),
    inset 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.625rem;
  animation: float 3s ease-in-out infinite;
}
.won img {
  height: 18.75rem;
  width: 18.75rem;
}
.won h3 {
  margin-top: 0.2em;
  font-size: 3.25rem;
  text-transform: uppercase;
}
/* reset btn css */
.reset {
  position: absolute;
  width: 6.25rem;
  height: 3.75rem;
  right: 2.5rem;
  bottom: 4.375rem;
  background: none;
  color: var(--black);
  border: 0.188rem solid var(--white);
  border-radius: 0.625rem;
  font-size: 1.563rem;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.reset:hover {
  background: var(--white);
  box-shadow: 0rem 0rem 1.25rem 0.25rem var(--white);
}

/* footer css */
footer {
  position: relative;
  width: 100vw;
  height: 2.188rem;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accent-20);
}
footer > div {
  text-transform: capitalize;
}
.center a {
  margin-right: 0.625rem;
  text-decoration: none;
}
.right a {
  text-transform: none;
}

@media only screen and (max-width: 655px) {
  .container {
    width: 100vw;
    height: 85vh;
    overflow: hidden;
  }
  /* choices css mob*/
  .choose h2 {
    font-size: 3.125rem;
  }
  .choices-con {
    background: url("../assets/bg/choices-mob.png");
    height: 33.188rem;
    width: 18.438rem;
    border-radius: 1.25rem;
    flex-direction: column;
  }
  /* choose player css mob*/
  .player {
    height: 16.25rem;
  }
  .player h3 {
    font-size: 1.875rem;
  }
  .player img {
    height: 5.625rem;
    width: 5.625rem;
  }
  /* choose tic-tac css mob*/
  .choice img {
    width: 9.375rem;
    height: 9.375rem;
  }
  /* game css mob */
  .game {
    height: 80vh;
  }
  /* scoreboard css mob */
  .scoreboard {
    width: 19.563rem;
    height: 8.75rem;
  }
  .scoreboard > div {
    font-size: 1.563rem;
  }
  .scoreboard > div span {
    font-size: 4.063rem;
  }
  /* gameboard css mob */
  .board {
    width: 19.5rem;
    height: 19.5rem;
    background-size: contain;
  }
  .box {
    height: 6.25rem;
    width: 6.25rem;
  }
  .tic-tac {
    width: 4.375rem;
    height: 4.375rem;
  }
  /* won css mob */
  .won {
    width: 18.125rem;
    height: 24.188rem;
  }
  .won img {
    width: 11.875rem;
    height: 11.875rem;
  }
  .won h3 {
    font-size: 2.5rem;
  }
  /* reset btn css mob */
  .reset {
    position: relative;
    bottom: 0rem;
    right: 0rem;
  }
  /* footer css mob */
  footer {
    height: 5rem;
    flex-direction: column;
    gap: 1em;
  }
  .right {
    position: initial;
  }
}
